PORT=yourportnumber
NODE_ENV=developement
MONGO_URL= put your mongodb connection string here
MONGODB_PASSWORD= put your mongodb password
CLOUDINARY_CLOUD_NAME=your own
CLOUDINARY_API_KEY=your own
CLOUDINARY_API_SECRET=your own 
EMAIL= your email
EMAIL_PASSWORD = password FROM GOOGLE APP password